# 2024-12-24

### 복습

In [1]:
# 변수 선언
a = b = 10
c, d = 30, 'Hello'
e = 35

print(a, b, c, d, e)

10 10 30 Hello 35

리스트의 append, insert, pop, remove

In [11]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append('배트맨')

movie_rank.insert(1, '슈퍼맨')

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [12]:
movie_rank.pop(3)
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [13]:
movie_rank.remove('스플릿')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '배트맨']

In [14]:
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [16]:
#튜플

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [18]:
#리스트

temp = ['apple', 'banana', 'cake']
a, b, c = temp
print(a, b, c)

apple banana cake

In [20]:
#set(집합)

temp = {'apple', 'banana', 'cake'}
a, b, c = temp
print(a, b, c)

banana cake apple

### String의 메소드
string의 replace, split

In [23]:
# string replace

phone_number = "010-1234-5678"
phone_num1 = phone_number.replace("-", " ")
print(phone_num1)

010 1234 5678

In [24]:
#split

a, b, c = input().split()
s = int(a) + int(b) + int(c)

print(s)

29

In [ ]:
#split

a, b, c = input().split()
print(type(a), type(b), type(c))

b = float(b)
c = int(c)

print(type(a), type(b), type(c))

print('name = ', a, 'height = ', b, 'age = ', c)

<class 'str'> <class 'str'> <class 'str'>
<class 'str'> <class 'float'> <class 'int'>
name =  박지민 height =  178.5 age =  28

Dictionary

In [ ]:
# for key, value in dictionary.items():
#    이 구문은 매 루프마다 dict의 키-값 쌍을 하나 꺼낸 다음
#     key, value 변수로 언패킹

In [7]:
#dictionary
#예금의 합 구하기

d = {'kim': 34000, 'lee': 12000, 'park': 1200, 'lew': 0, 'song': 3420}

val = d.values()

add = sum(val)

print(add)

50620

## 함수

In [11]:
# 함수

def make_list (string):
    print(list(string))

make_list("abcd")

['a', 'b', 'c', 'd']

In [14]:
#매개 변수 초기화

def say_myself(name, age, man = True):
    print('my name is %s ' %name)
    print('my age is %d' %age)
    if man:
        print('male')
    else:
        print('female')

say_myself('jimin', 30)

my name is jimin
my age is 30
male

#### 함수와 변수의 효력 범위

In [19]:
a = 1
def vartest(a):
    a = a+1
    return a

b = vartest(a)
print(b)
print(a)

2
1

In [23]:
def vartest(a):
    a = a+1

vartest(3)
print(a)

1

In [25]:
a = 1
def vartest(a):
    a = a+1
    return a

a = vartest(a)
print(a)

2

In [28]:
#전역 변수 사용용

a = 1
def vartest():
    global a
    a = a+1

vartest()
print(a)

2

### 내장함수
#### map 함수

In [31]:
#모든 요소를 1씩 증가

myList = [1, 2, 3, 4, 5]
result = []

for i in myList:
    result.append(i + 1)

print(result)

[2, 3, 4, 5, 6]

In [33]:
myList = [1, 2, 3, 4, 5]
result = []

def add_one(n):
    return n+1

for i in myList:
    a = add_one(i)
    result.append(a)

print(result)

[2, 3, 4, 5, 6]

In [54]:
myList = [10, 20, 30, 40, 50]


def add_one(n):
    n = n*n
    return n

print('my list', hex(id(myList)))
addr = map(add_one, myList)
result = list(addr)
print('addr of map', addr)
print('result', hex(id(result)))

# list(data)는 새 리스트를 만들고 그 리스트에 data의 값을 추가
# 그리고 만든 리스트를 반환
# --> 새 리스트를 만들어서 새 객체 생성, 주소가 다름름

my list 0x186db7c6580
addr of map <map object at 0x00000186DB2D7A30>
result 0x186db87cd80

In [55]:
f = (3.14, -5.625, 100.4, 25.8)

print(list(map(round, f)))

[3, -6, 100, 26]

#### zip 함수

In [58]:
#zip 함수

r = (52, 255, 39, 132)
g = (19, 63, 227, 197)
b = (0, 68, 255, 187)

result = list(zip(r, g, b))
print(result)

[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

#### enumerate

In [62]:
#enumerate

f = ('apple', 'orange', 'banana', 'mango')

tag = dict(enumerate(f))
print(tag)

{0: 'apple', 1: 'orange', 2: 'banana', 3: 'mango'}

#### filter

In [67]:
#filter
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]

def f(x):
    return (x>5 and x<10)

list(filter(f, a))

[8, 7, 9]

In [69]:
zip?

Init signature: zip(*iterables, strict=False)
Docstring:
The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
Type:           type
Subclasses:

### Lambda 함수

In [ ]:
def 함수이름(매개변수):
    return 결과


lambda 매개변수 : 결과

In [72]:
f = lambda x, y : x+y
print(f(2, 3))

5

In [73]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x : x**2, numbers))

print(squared)

[1, 4, 9, 16]

In [76]:
numbers = [1, 2, 3, 4]
even_numbers = list(filter(lambda y : y%2 == 0, numbers))

print(even_numbers)

[2, 4]

### sorted

In [82]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [84]:
#두번째 값을 기준으로 정렬
points = [(1, 2), (5, 6), (3, 4)]
sorted_points = sorted(points, key = lambda a : a[1], reverse = True)

print(sorted_points)

[(5, 6), (3, 4), (1, 2)]

In [87]:
a = ['applemint', 'banana', 'cherry']

new_a = sorted(a, key = len)
print(a)
print(new_a)

['applemint', 'banana', 'cherry']
['banana', 'cherry', 'applemint']

In [93]:
my_dict = {3: 'c', 1: 'd', 2:'b'}

new_dict = sorted(my_dict.items(), key = lambda item: item[1])
print(my_dict)
print(new_dict)

{3: 'c', 1: 'd', 2: 'b'}
[(2, 'b'), (3, 'c'), (1, 'd')]